include LICENSE
include README.md
include requirements.txt
recursive-include einfochips/data *
recursive-include einfochips/output/data *
recursive-include einfochips/providers/aws *
recursive-include einfochips/providers/aws/rules *
recursive-include einfochips/providers/azure *
recursive-include einfochips/providers/azure/rules *
recursive-include einfochips/providers/gcp *
recursive-include einfochips/providers/gcp/rules *
recursive-include einfochips/providers/aliyun *
recursive-include einfochips/providers/aliyun/rules *
recursive-include einfochips/providers/oci *
recursive-include einfochips/providers/oci/rules *
